<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bootcamp.snt.bootcampsantandertodo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BootcampSantanderTODO">
        <activity android:name=".features.listTodo.ListTodosActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".features.addTodo.CreateTodoActivity"
            android:parentActivityName=".features.listTodo.ListTodosActivity"/>

        <activity android:name="bootcamp.snt.bootcampsantandertodo.features.detailTodo.DetailTodoActivity"
            android:parentActivityName=".features.listTodo.ListTodosActivity"/>
    </application>

</manifest>